body{
    font-family: arial,sans-serif;
    background-color: rgb(255, 255, 255);
}

label
{
    margin-right: 30px;
}
table
{
    border-collapse: separate;
    border-spacing: 0px 12px;
}
td
{
    width: 300px;
}
footer
{
 position: absolute;
 bottom: 0em;   
 right: 0em;
 margin:0px 20px 20px 20px
}
.search_links 
{
    margin: 10px;
}

.search_buttons
{
    margin: auto;
    margin-top: 18px;
    width: 500px;
    text-align: center;
}

.search_button
{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-size: 14px;
    margin: 11px 6px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

#search_bar
{
    border-radius: 24px;
}

#main 
{
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

#kismet_logo
{
    text-align: center;
}

#logo
{
    border-radius: 60px;
    padding: 20px;
    height: 100px;
    width: 291px;
}

#searchform
{
    margin: 20px;
    height: 44px;
    width: 500px;
    /* background-color: red; */
    /* text-align: center; */
}

#navbarSupportedContent
{
    font-size: 14px;
}

#advanced_search_containeer
{
    /* background-color: blue; */
    padding-right: 700px;
    padding-bottom: 868px;
    padding-left: 20px;
    margin: 40px 0px 0px 45px;
}
