body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 50vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

.entry_not_found {
    /* text-align: center; */
    /* margin: auto; */
    position: absolute;
    margin-top: 20%;
    margin-left: 30%;
}

.new_page_input
{
    margin: 10px 10px 0px 0px;
}

#new_page_form
{
    text-align: center;
}

.navigation
{
    margin: 20px 0px 20px 20px;
}