textarea {
    min-height: 400px;
}

.single-email {
    border: 3px solid aquamarine;
    margin: 6px;
    padding: 6px;
}

.email-timestamp {
    margin-left: 75%;
    margin-right: 0px;
}

.detailed-email {
    border: 3px solid aquamarine;
    margin: 6px;
    padding: 6px;   
}

.btn {
    margin: 6px;
}